// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables

$body-bg: #ddd;
$body-color: rgba(255, 255, 255, 0.548);
$primary: hotpink;
$font-family-base: Arial;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  background-image: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=934&q=80");
}
